body {
    display: flexbox;
    background-color: lightgoldenrodyellow;
}
.jumbotron {
    background-color:rgb(69, 69, 187);
}
.display-3 {
    margin-bottom: 0px;
    background-color: whitesmoke;
    text-align: center;
    font-weight: bold;
}

.container {
    text-align: left;
    margin-left: 0px;
}
.container.main {
    text-align: left;
    margin-left: 370px;
    
    
            }
.row.current-weather {
    text-align: left;
    
    
}
.card {
    background-color: #4069bd;
}


.row.forecast{
    display: flex;
    flex-direction: row;
}


.btn-block {
    text-align: left;
    background-color: blue;
    color: white;
}
.search-text {
    font-weight: medium;
}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#listForecast {
    justify-content: space-between;
}



#search-button{
    background-color: lightblue;
}
